
#container {
    margin: 20px;
    /*background-color: bisque; */
}

#cal {
    width: 350px;
    height: 450px; 
    border: 2px;
    /*border-style: solid;
    border-radius: 3px; 
    margin: 10px; */
    display: flex;
    flex-direction: column;
    background-image: url(images/calBox.png);
    background-size: cover;
}

#display {
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 40px auto 20px;
    box-shadow: inset 0 0 5px;
}

#display>p {
    margin: 5px;
}

#allBtns {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#nums {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.numRow {
    display: flex;
    flex-direction: row;
}
.operator {
    width: 50px;
    height: 40px;
}

#plus {
    height: 80px;
}

.operator, #cancel, #backOne, #equal {
    width: 50px;
    height: 40px;
    background-image: url("images/numBtn.jpg");
    background-size: cover;
}

#operatorRow-1, #operatorRow-2 {
    display: flex;
    flex-direction: row;
}

#operators {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.num, .decimal, .posOrNeg {
    width: 40px;
    height: 40px;
    background-image: url("images/numBtn.jpg");
    background-size: cover;
} 

#operatorRow-3 {
    display: flex;
    flex-direction: row;
}

#operatorRow-3-1 {
    display: flex;
    flex-direction: column;
}

#logo {
    margin: auto;
}
