
#cal {
    width: 30%;
    margin: auto;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
}

#display>p {

}

#allBtns {
    display: flex;
    padding: 15px;
}

#nums {
    padding: 15px;
}

#operators {
    padding: 15px;
}